* {
  margin: 0;
  padding: 0;
}

.landing-page {
  background-color: rgb(4, 8, 48);
}
.landing-page .topbar {
  padding: 30px 100px;
  display: flex;
  align-items: center;
}
.landing-page .topbar .brandname {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}
.landing-page .topbar .nav-items {
  display: flex;
  gap: 30px;
  padding-left: 200px;
}
.landing-page .topbar .nav-items a {
  color: white;
  font-size: 17px;
  text-decoration: none;
  padding: 5px;
  transition: 0.5s;
  border-radius: 20px;
}
.landing-page .topbar .nav-items a:hover {
  background-color: white;
  color: rgb(4, 8, 48);
  border-radius: 10px;
}
.landing-page .topbar .buttons {
  padding-left: 400px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.landing-page .topbar .buttons .login-btn button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  transition: 0.5s;
  padding: 5px;
}
.landing-page .topbar .buttons .login-btn button:hover {
  background-color: white;
  color: rgb(4, 8, 48);
  border-radius: 10px;
}
.landing-page .topbar .buttons .join-btn {
  background-color: transparent;
  border: none;
  color: white;
}
.landing-page .topbar .buttons .join-btn button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 0.5s;
  padding: 5px;
}
.landing-page .topbar .buttons .join-btn button:hover {
  background-color: white;
  color: rgb(4, 8, 48);
  border-radius: 10px;
}
.landing-page .main .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-page .main .content p:nth-child(1) {
  color: rgb(92, 92, 210);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 34px;
}
.landing-page .main .content p:nth-child(3) {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 34px;
  text-align: center;
  opacity: 0.9;
  padding-top: 60px;
}
.landing-page .main .content h1 {
  padding-top: 34px;
  color: white;
  font-size: 100px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 90px;
}
.landing-page .main .content .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 50px;
}
.landing-page .main .content .buttons .left-btn button {
  background-color: transparent;
  border: 2px solid rgb(92, 92, 210);
  color: rgb(92, 92, 210);
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 20px;
  transition: 0.5s;
}
.landing-page .main .content .buttons .left-btn button:hover {
  background-color: white;
  color: rgb(4, 8, 48);
  border-radius: 10px;
}
.landing-page .cards {
  display: flex;
  justify-content: space-between;
  padding: 100px 50px;
  gap: 20px;
}
.landing-page .cards .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  width: 450px;
  height: 350px;
  background-color: white;
  border-radius: 20px;
}
.landing-page .cards .left .img {
  position: relative;
  height: 80px;
  width: 80px;
  background-color: green;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-page .cards .left .img img {
  width: 70%;
  height: 70%;
  position: absolute;
}
.landing-page .cards .left p:nth-child(2) {
  padding-top: 30px;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.landing-page .cards .left p:nth-child(4) {
  padding-top: 30px;
  font-size: 15px;
  opacity: 0.8;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.landing-page .cards .left .border-vector {
  margin-top: 20px;
  width: 100px;
  height: 5px;
  background-color: green;
  transition: 1s;
}
.landing-page .cards .left:hover .border-vector {
  width: 250px;
  background-color: black;
}
.landing-page .cards .mid {
  width: 450px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  background-color: white;
  border-radius: 20px;
}
.landing-page .cards .mid .img {
  position: relative;
  height: 80px;
  width: 80px;
  background-color: green;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-page .cards .mid .img img {
  width: 70%;
  height: 70%;
  position: absolute;
}
.landing-page .cards .mid p:nth-child(2) {
  padding-top: 30px;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.landing-page .cards .mid p:nth-child(4) {
  padding-top: 30px;
  font-size: 15px;
  opacity: 0.8;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.landing-page .cards .mid .border-vector {
  margin-top: 20px;
  width: 100px;
  height: 5px;
  background-color: green;
  transition: 0.5s;
}
.landing-page .cards .mid:hover .border-vector {
  width: 250px;
  background-color: black;
}
.landing-page .cards .right {
  width: 450px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border-radius: 20px;
}
.landing-page .cards .right .img {
  position: relative;
  height: 80px;
  width: 80px;
  background-color: green;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-page .cards .right .img img {
  width: 70%;
  height: 70%;
  position: absolute;
}
.landing-page .cards .right p:nth-child(2) {
  padding-top: 30px;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.landing-page .cards .right p:nth-child(4) {
  padding-top: 30px;
  font-size: 15px;
  opacity: 0.8;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.landing-page .cards .right .border-vector {
  margin-top: 20px;
  width: 100px;
  height: 5px;
  background-color: green;
}/*# sourceMappingURL=style.css.map */